<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ZakCoreUtils" version="2.0.1.0" targetFramework="net40-Client" />
  <package id="ZakCoreUtilsInterfaces" version="2.0.1.0" targetFramework="net40-Client" />
  <package id="ZakThread" version="2.0.1.0" targetFramework="net40-Client" />
  <package id="ZakThreadInterfaces" version="2.0.1.0" targetFramework="net40-Client" />
</packages>