@model ZakCms.Models.PageUserAdminViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>
	BackEnd Users Administration</h3>
<table>
	<tr>
		<td>
			<p>
				@Html.ActionLink("Add User", "Index", new {id = 0, view = "Create"})
			</p>
			<div class="menuWidth">
				@{ Html.RenderPartial("UsersList", Model.Users); }
			</div>
		</td>
		<td>
			@{ Html.RenderPartial(Model.View, Model.User); }
		</td>
	</tr>
</table>