<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ZakCoreUtils" version="1.0.0.0" targetFramework="net40" />
  <package id="ZakCoreUtilsInterfaces" version="1.0.0.0" targetFramework="net40" />
  <package id="ZakThread" version="1.0.0.0" targetFramework="net40" />
  <package id="ZakThreadInterfaces" version="1.0.0.0" targetFramework="net40" />
</packages>