@model ZakCms.Models.PageLanguageAdminViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>
	Languages Administration</h3>
<table>
	<tr>
		<td>
			<p>
				@Html.ActionLink("Add Language", "Index", new {id = 0, view = "Create"})
			</p>
			<div class="menuWidth">
				@{ Html.RenderPartial("LanguagesList", Model.Languages); }
			</div>
		</td>
		<td>
			@{ Html.RenderPartial(Model.View, Model.Language); }
		</td>
	</tr>
</table>