<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="CmsDb"
				 connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|Database.mdf;User Instance=true"
				 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="DataDirectory" value="..\..\..\..\ZakCmsAppData\App_Data\"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
