@model ZakCms.Models.Entitites.ArticleModel
@{
	Layout = null;
}
@if (Model != null)
{
	<fieldset class="bodyWidth">
		<legend>@Model.Title</legend>
		<p>
			@(new HtmlString(Model.Content))
		</p>
	</fieldset>
}