@using System.Globalization
@using ZakCms.Models.Entitites
@model IEnumerable<ZakDb.Models.IModel>
<ul>
	@foreach (ArticleModel item in Model)
	{
		<li>
			@{
				if (!string.IsNullOrWhiteSpace(item.SeoTitle))
				{
					@Html.ActionLink(item.Title, "Index", new {id = item.SeoTitle})
				}
				else
				{
					@Html.ActionLink(item.Title, "Index", new {id = item.Id.ToString(CultureInfo.InvariantCulture)})
				}
			}
			@{ Html.RenderPartial("TreeNode", item.Children); }
		</li>
	}
</ul>